.WeatherInfo h1 {
  margin-left: 30px;
}

.WeatherInfo ul {
  list-style: none;
}

.WeatherInfo .tempIcon {
  text-align: center;
}

.WeatherInfo .temperature {
  font-size: 42px;
  font-weight: bold;
  color: #885df1;
}

.WeatherInfo .temperature .units {
  font-size: 18px;
  font-weight: lighter;
  position: relative;
  top: -18px;
  color: #a9a6b3;
}
